@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* scrollbar.css */
::-webkit-scrollbar {
  width: 3px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(107 33 168); /* Customize the color as needed */
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Customize the track color as needed */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
